# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: API Gateway CI with Node.js

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out latest version
      uses: actions/checkout@v2

    - name: configure node v12
      uses: actions/setup-node@v2-beta
      with:
        node-version: 12

    - name: build run dependencies
      run: yarn install

    - name: run tests
      run: yarn test

    - name: Configure AWS env vars
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: deploy application
      run: yarn deploy
